
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

body{
    background: #D5D3E7;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.contenedor{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: rgb(247, 247, 247);
    margin: 0 px 50px 50px 0px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.zona_izquierda{
    position: relative;
    background-color: #25033ae5;
    padding: 20px;
}
.perfil{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 35px;
}
.perfil .foto{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.perfil .foto img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.perfil h2{
    color: rgb(221, 166, 16);
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    font-size: 600;
    line-height: 1.5em;
    padding-top: 20px;
}
.descripcion{
    padding-top: 50px;

}
.descripcion p{
    padding-top: 20px;
    color: white;
    font-weight: 600;
    text-align: justify;
}
.contacto{
    padding-top: 50px;

}
.titulo{
    color: rgb(0, 224, 213);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
}
.titulo2{
    color: rgba(52, 1, 99, 0.863);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 50px;
}
.contacto ul{
    position: relative;
    padding-top: 10px;
}
.contacto ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contacto ul li .icono{
    display: inline-block;
    width: 30px;
    width: 30px;
    font-size: 18px;
    color:rgb(0, 224, 213);
}
.contacto ul li span{
    color: white;
    font-weight: 600;
}
.aficiones{
    padding-top: 50px;
}
.aficiones ul{
    padding-top: 20px;
}
.aficiones ul li{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.aficiones ul li span{
    color: white;
    font-weight: 600;
    text-align: center;
}
.zona_derecha{
    position: relative;
    background-color: #c2fdf0d2;
    padding: 40px;
}
.educacion ul{
    padding-top: 15px;
}
.experiencia ul{
    padding-top: 15px;
}
.aptitudes ul{
    padding-top: 15px;
}
.referencias{
    width: 90%;
    margin: 50px 1px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 30px;
}
.titulo_grid{
    grid-column-start: 1;
    grid-column-end: 5;
    color:rgba(52, 1, 99, 0.863);
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.encabezado_grid{
    font-weight: bold;
}
.encabezado_grid, .item_grid{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item_grid{
    padding: 10px;
    color: black;
    font-size: 0.9em;
}